

  /* .app{
    background-image: url('./Assets/images.jpeg');
    background-size: cover;
    background-position: auto;
    transition: 0.4 ease-out;
    background-attachment: auto;
  } */

  
  
  